<%- include('./includes/head',{pageTitle: 'an error occured'}) %> 
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">

</head>
<body>
    <%- include('./includes/header') %> 
    <main>
        <h1>Something went wrong</h1>
        <p>Unfortunately, something went wrong - we are working on it</p>
        <p><a href="/" class="btn">Back to safety</a></p>
    </main>
<%- include('./includes/footer') %> 
