<%- include('../../shared/includes/head', { pageTitle: 'Failure!' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order Failed!!</h1>
    <p>Please contact shop owner for more information</p>
  </main>
<%- include('../../shared/includes/footer') %>