<%- include('../../shared/includes/head', { pageTitle: 'All Your Orders' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order was successful!</h1>
    <p>you can visit <a href="/orders">the orders page</a> for more information</p>
  </main>
<%- include('../../shared/includes/footer') %>