<%- include('../../shared/includes/head',{pageTitle: 'signup'}) %> 
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">

</head>
<body>
    <%- include('../../shared/includes/header') %> 
    <main>
        <h1>Create New Account</h1>
        <form action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <p>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" required>
            </p>
            <p>
                <label for="confirm-email">Confirm E-mail</label>
                <input type="email" name="confirm-email" id="confirm-email" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" minlength="6" required >
            </p>
            <hr>
            <p>
                <label for="full-name">Full name</label>
                <input type="text" name="full-name" id="full-name" required>
            </p>
            <p>
                <label for="street">street</label>
                <input type="text" name="street" id="street" required>
            </p>
            <p>
                <label for="postal">Postal code</label>
                <input type="text" name="postal" id="postal" required>
            </p>
            <p>
                <label for="city">City</label>
                <input type="text" name="city" id="city" required>
            </p>
            <button class="btn">Create Account</button>
            <p><a id="switch-form" href="/login">Login instead</a></p>
        </form>
    </main>
<%- include('../../shared/includes/footer') %> 
